.host {
  color: black;
  display: block;
  align-content: center;
  align-items: center;
  padding: 12px;
  border-width: 6px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(237, 27, 27), rgb(198, 23, 195)) 1;
  margin: 20px;
  animation: changeColor 2s infinite;
}

@keyframes changeColor {
  0% {
    background: linear-gradient(to right, #2aeb6d, #ecec30);
  }
  50% {
    background: linear-gradient(to right, #ecec30, #2aeb6d);
  }
  100% {
    background: linear-gradient(to right, #2aeb6d, #ecec30);
  }
}

.largerText {
  font-size: 16px;
}
